*{
    margin:0;
    padding:0;
    background-color: #efefef;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.seccion{
    display: none;
}
.datos{
    padding-right: 58px;
}
.seccion h2{
    text-shadow: 0 0.4rem 0.4rem rgba(0, 5, 9, 0.8);
    font-size: 28px;
    padding: 18px 0;
    text-align: center;
}
.seccion input{
    transition:background-color 0.3s ease;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.8);
    background-color: #d6d9df;
    padding: 2px;
    font-size: 20px;
    display: flex;
    width: 268px;
    margin: 11px auto;
    border-radius: 15px;

}
.seccion input:hover{
    background-color:#91a3b3;
}
.seccion button{
    transition:box-shadow 0.3s ease;
    background-color: #364552;
    color: white;
    display: flex;
    width: 140px;
    padding: 8px;
    border-radius: 20px;
    margin: 30px auto;

}
.seccion button:hover{
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.8);
}
#titulo{
    position: fixed;
    transition: font-size 0.4s ease;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.8);
    width: 100%;
    background-color:#364552;
    color: white;
    padding: 16px 0;
    font-size: 51px;
    text-shadow:0 0.4rem 0.4rem rgba(0, 0, 0, 0.8);
    text-align: center;
}
#titulo:hover{
    font-size: 60px;
}
.container{
    padding: 0;
    width:90%;
    max-width: 1200px;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.imagen1{
    width: 500px;
    height: 700px;
    padding: 9px 28px 0 98px;
}
#contenedor{
    padding: 208px 4px;
    width: 288px;
    margin: 0 auto;
}
#subtitulo{
    transition: color 0.7s ease;
    text-shadow: 0 0.4rem 0.4rem rgba(0, 5, 9, 0.8);
    padding: 31px 0;
    text-align: center;
    font-size:55px;
}
#subtitulo:hover{
    font-size: 59px;
}
#subsubtitulo{
    font-size: 16px;
    text-shadow: 0 0.4rem 0.4rem rgba(0, 5, 9, 0.4);
    padding: 10px 0;
    text-align: center;
}
#menu{
    transition:background-color 0.3s ease;
    border-radius: 50px;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 13px;
    width: 256px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu:hover{
    background-color: #91a3b3;
}
table{
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.8);
    font-size: 17px;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: solid 1px #000000;
    padding: 5px;
}
th{
    background-color: #bfc4e0;
}
th:hover{
    background-color: #a7b2bb;
}
tbody{
    text-align: center;
}
footer img{
    margin: 0 10px 0 50px;
    width: 50px;
}

/*responsive*/
@media (max-width: 1440px){
    .contenedorTitulo{
        display: ruby-text;
    }
    #contenedorImagen{
        display:flex;
        justify-content: center;
    }
    .datos{
        padding-right: 0;
    }
    #divisor{
        display: none;
    }
    .container{
        display: inline;
        flex-direction: column;
        align-items: center;
    }
    #contenedor{
        width: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    main{
        display: block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
    }
    select{
        transition:background-color 0.3s ease;
        border-radius: 50px;
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.8);
        text-align: center;
        padding: 11px 70px;
        font-size: 16px;
    }
    .contacto{
        display: none;
    }
    #titulo{
        position: static;
        font-size: 40px;
        padding: 30px 0;
    }
    .imagen1{
        display: flex;
        justify-content: center;
        margin: 20px 0 50px 37px;
        width: 70%;
        height: auto;
        padding: 0;
    }
}
@media (max-width: 768px){
    #contenedor{
        width: 100px;
        padding: 6px;
        padding: 0;
    }
    .container{
        display: block;
    }
    .datos{
        padding-right: 14px;
    }
    main{
        display: block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
    }
    #titulo{
        position: static;
        font-size: 40px;
        padding: 30px 0;
    }
    #titulo:hover{
        font-size: 50px;
    }
    #subtitulo{
        font-size: 50px;
    }
    #subtitulo:hover{
        font-size: 60px;
    }
    .imagen1{
        margin: 40px 69px;
        width: 70%;
        height: auto;
        padding: 0;
    }
    .seccion h2{
        font-size: 30px;
    }
    .seccion input{
        width: 81%;
        font-size: 18px;
    }
    .seccion button{
        width: 100px;
        padding: 6px;
    }
    select{
        width: 110%;
        font-size: 15px;
    }
    table{
        font-size: 14px;
    }
    th,td{
        padding: 3px;
    }
    .contacto{
        display: none;
    }
}
@media (max-width: 480px){
    #contenedor{
        display: block;
        width: 290px;
        padding:29px;
    }
    main{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    #titulo{
        position: static;
        font-size: 20px;
        padding: 30px 0;
    }
    #titulo:hover{
        font-size: 40px;
    }
    #subtitulo{
        font-size: 40px;
    }
    #subtitulo:hover{
        font-size: 50px;
    }
    .seccion h2{
        font-size: 24px;
    }
    .seccion input{
        width: 68%;
        font-size: 16px;
    }
    .seccion button{
        width: 80px;
        padding: 4px;
    }
    select{
        font-size: 12px;
    }
    table{
        font-size: 12px;
    }
    .contacto{
        display: none;
    }
}
